@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background: #F7F9FD;
  position: relative; }

html, body, ul, ol, li, form, fieldset, legend,
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: 'Poppins', sans-serif; }

fieldset, img {
  border: 0; }

img {
  width: 100%; }

li {
  list-style: none; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 200px; }

.btn {
  border-radius: 2px;
  -webkit-box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5); }

.gradient {
  position: absolute;
  top: -11%;
  left: 95%;
  width: 600px;
  height: 1000px;
  border-radius: 50px;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  z-index: -1;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#9a52ff), color-stop(#c04cef), color-stop(#db49de), color-stop(#f04bce), to(#ff52bf));
  background-image: -webkit-linear-gradient(left bottom, #9a52ff, #c04cef, #db49de, #f04bce, #ff52bf);
  background-image: -o-linear-gradient(left bottom, #9a52ff, #c04cef, #db49de, #f04bce, #ff52bf);
  background-image: linear-gradient(to right top, #9a52ff, #c04cef, #db49de, #f04bce, #ff52bf); }

.navbar {
  padding: 0 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 80px;
  grid-template-rows: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .navbar img {
    width: 70%; }
  .navbar .nav-btn {
    -ms-grid-column-align: end;
    justify-self: end;
    background: #F7F9FD;
    color: #9A52FF;
    font-size: 12px;
    padding: 7px 30px; }

.header__wrapper {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px; }
  .header__wrapper .header__text {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px; }
    .header__wrapper .header__text p {
      color: #808D99;
      font-size: 16px;
      padding: 0 5px; }
    .header__wrapper .header__text .header-btn {
      -ms-grid-column-align: center;
      justify-self: center;
      background: #FF52BF;
      color: #F7F9FD;
      font-size: 14px;
      padding: 12px 30px;
      -webkit-box-shadow: 1px 1px 10px #FF52BF;
      box-shadow: 1px 1px 10px #FF52BF; }
