@import 'reset';
@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.btn {
  border-radius: 2px;
  box-shadow: .5px .5px 1px rgba(0,0,0,.5);
}

.gradient {
  position: absolute;
  top: -11%;
  left: 95%;
  width: 600px;
  height: 1000px;
  border-radius: 50px;
  transform: rotate(-30deg);
  z-index: -1;
  background-image: linear-gradient(to right top, #9a52ff, #c04cef, #db49de, #f04bce, #ff52bf);
}

.navbar {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px;
  align-items: center;
  img {
    width: 70%;
  }
  .nav-btn {
    justify-self: end;
    background: $light-grayish-blue;
    color: $violet;
    font-size: 12px;
    padding: 7px 30px;
  }
}

.header__wrapper {
  margin-top: 50px;
  display: grid;
  grid-gap: 30px;
  .header__text {
    display: grid;
    grid-gap: 20px;
    p {
      color: $mid-grayish-blue;
      font-size: 16px;
      padding: 0 5px;
    }
  }
}

.header-btn {
  justify-self: center;
  background: $pink;
  color: $light-grayish-blue;
  font-size: 14px;
  padding: 12px 30px;
  box-shadow: 1px 1px 10px $pink;
}

.conversations {
  display: grid;
  grid-gap: 125px;
}

.conversations__wrapper {
  display: grid;
  grid-gap: 40px;
  .conversations__text {
    display: grid;
    grid-gap: 15px;
  }
}

.title {
  font-size: 22px;
  font-family: 'Poppins';
  font-weight: 600;
}
.sub-text {
  color: $mid-grayish-blue;
  font-size: 14px;
  padding: 0 5px;
  line-height: 25px;
}

.try-container {
  display: grid;
  grid-gap: 20px;
  background: white;
  padding: 40px 20px;
  border-radius: 2px;
  box-shadow: 1px 1px 30px rgba(154, 82, 255, 0.1);
  .header-btn {
    box-shadow: none;
  }
}

footer {
  background: $very-dark-cyan;
  color: $light-grayish-blue;
  .logo-container {
    justify-self: center;
    padding-top: 40px;
    svg * {
      fill: $light-grayish-blue;
    }
  }
}

.footer-wrapper {
  padding: 30px 20px 20px;
  display: grid;
  grid-template-rows: repeat(5, auto);
  place-items: start;
  grid-gap: 60px;
}

.footer-links {
  display: grid;
  grid-gap: 20px;
}

.subscribe-container {
  display: grid;
  text-align: center;
  grid-gap: 15px;
  p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 700;
  }
  p:nth-child(2) {
    opacity: .8;
    font-size: 14px;
    padding: 0 5px;
  }
  input {
    padding: 16px;
    border: none;
  }
  .header-btn {
    justify-self: stretch;
    box-shadow: none;
  }
}

.social-container {
  text-align: center;
  justify-self: stretch;
  i {
    padding: 0 10px;
  }
}