@import 'reset';
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// Background Shapes

.gradient {
  position: absolute;
  top: -30%;
  left: 80%;
  width: 100vmax;
  height: 100vmax;
  border-radius: 50px;
  transform: rotate(-30deg);
  z-index: -1;
  background-image: linear-gradient(to right top, #9a52ff, #c04cef, #db49de, #f04bce, #ff52bf);
}

.square {
  position: absolute;
  top: 15%;
  left: -10%;
  width: 100vmax;
  height: 60vmax;
  border-radius: 30px;
  transform: rotate(-30deg);
  z-index: -2;
  background: white;
}

// General Styles

.btn {
  border-radius: 2px;
  box-shadow: .5px .5px 1px rgba(0,0,0,.5);
}
.header-btn {
  justify-self: center;
  background: $pink;
  font-size: 14px;
  color: $light-grayish-blue;
  padding: 12px 30px;
}

.title {
  font-size: 22px;
  font-family: 'Poppins';
  font-weight: 600;
}

.sub-text {
  color: $mid-grayish-blue;
  font-size: 14px;
  padding: 0 5px;
  line-height: 25px;
}

// Navbar Styles

.navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px;
  align-items: center;
  margin: 0 -10px;
  img {
    width: 120px;
    height: auto;
  }
  .nav-btn {
    color: $violet;
    background: $light-grayish-blue;
    font-size: 12px;
    padding: 7px 30px;
    justify-self: end;
  }
}

// Header Styles

.header-container {
  display: grid;
  justify-items: center;
  grid-gap: 30px;
  margin-top: 50px;
  img {
    width: 100%;
  }
  .header-text {
    display: grid;
    grid-gap: 20px;
    p {
      color: $mid-grayish-blue;
      font-size: 16px;
      padding: 0 5px;
    }
    .header-btn {
      box-shadow: 1px 1px 10px $pink;
    }
  }
}

// Conversations Styles

.conversations {
  display: grid;
  grid-gap: 125px;
  justify-items: center;
  margin: 200px 0;
  img {
    width: 100%;
  }
}

.conversations-container {
  display: grid;
  grid-gap: 40px;
  .conversations-text {
    display: grid;
    grid-gap: 15px;
  }
}

.try-container {
  display: grid;
  grid-gap: 20px;
  background: white;
  padding: 40px 20px;
  border-radius: 2px;
  box-shadow: 1px 1px 30px rgba(154, 82, 255, 0.1);
}

// Footer Styles

footer {
  background: $very-dark-cyan;
  color: $light-grayish-blue;
}

.footer-wrapper {
  display: grid;
  grid-gap: 60px;
  grid-template-rows: repeat(5, auto);
  place-items: start;
  padding: 30px 20px 20px;
  .logo-container {
    justify-self: center;
    padding-top: 40px;
    svg * {
      fill: $light-grayish-blue;
    }
  }
  .footer-links {
    display: grid;
    grid-gap: 20px;
  }
}

.subscribe-container {
  display: grid;
  grid-gap: 15px;
  text-align: center;
  p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 700;
  }
  p:nth-child(2) {
    opacity: .8;
    font-size: 14px;
    padding: 0 5px;
  }
  input {
    padding: 16px;
    border: none;
  }
  .header-btn {
    justify-self: stretch;
  }
}

.social-container {
  text-align: center;
  justify-self: stretch;
  i {
    padding: 0 10px;
  }
}

.attribution { 
  font-size: 11px; text-align: center; 
  a { 
    color: hsl(228, 45%, 44%); 
  }
}

@media screen and (min-width: 401px) {
  .header-btn {
    padding: 15px 55px;
  }
  .gradient {
    top: -70%;
    left: 55%;
    width: 1000px;
    height: 1100px;
    transform: rotate(-45deg);
    border-radius: 70px;
  }
  .square {
    top: 15%;
    left: 10%;
    width: 1200px;
    height: 1000px;
  }
  .navbar {
    margin: 5% -10%;
    img {
    width: 200px;
    }
    .nav-btn {
      padding: 15px 40px;
      font-size: 14px;
    }
  }
  .header-container {
    grid-gap: 40px;
    .header-text p {
      padding: 0 100px;
    }
  }
  .conversations {
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
    margin-top: 400px;
    img {
      grid-column: 1 / 3;
      margin-left: -100px;
    }
    .conversations-container {
      grid-column: 3;
      text-align: left;
      margin: 0 -50px 0 -100px;
    }
    .try-container {
      grid-column: 1 / -1;
      grid-row: 2;
      padding: 60px 100px;
      .header-btn {
        margin-top: 20px;
      }
    }
  }
  .footer-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 0;
    padding: 100px 50px;
    .logo-container {
      grid-column: 1;
      grid-row: 1;
      justify-self: left;
      padding: 0;
    }
  }
  .footer-links-container {
    grid-column: 2;
    grid-row: 1 / -1;
    align-self: center;
    .footer-links {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .subscribe-container {
    grid-column: 3;
    grid-row: 1 / -1;
    text-align: left;
    p:nth-child(2) {
      padding: 0;
    }
    .header-btn {
      justify-self: end;
    }
  }
  .social-container {
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
  }
  .credits-container {
    grid-column: 1;
    grid-row: 3;
    .attribution {
      text-align: left;
    }
  }
}