@import 'variables';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background: $light-grayish-blue;
}

html, body, ul, ol, li, form, fieldset, legend,
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
}

fieldset, img {
  border: 0;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}